<div>
      <div>
            <label>Click Summarize Population and draw a polygon on the map. A GP task will be called to summarize the population within the polygon.</label>
            <br>
      </div>
      <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnPopulation" data-dojo-attach-event="click:onPopulation">Summarize Population</button>
      <textarea rows="6" cols="35" id="thePopulation"></textarea>
</div>
